# my history
.zsh_history
# some completion stuff
.zcompdump*
.zcompcache
# machine based stuff
machine-based.*
# machine-based scripts
zsh/bin/

# vim file info stuff
viminfo
# spelling files
*.spl
*.sug

# temporary files
*.tmp

# nix output
result
out

# AI configuration
.cursor/
.aider*
